body {
    background-color: rgb(253, 251, 251);
    padding: 0;
    margin: 0;
    font-family:gill sans mt;
}

#cabecalho {
    position: fixed;
    top: 0;
    background-color: lightseagreen;
    color: white;
    width: 100%;
    box-shadow: 2px 5px 5px rgb(16, 94, 90);
    z-index: 1;
}
#titulo {
    text-align: center;
    font-size: 4em;
    font-style: italic;
    text-shadow: 2px 5px 5px rgb(8, 49, 47);
    letter-spacing: 0.02em;
    word-spacing: 0.1em;
}
#minha_foto {
    float: left;
    z-index: 2;
    position: fixed;
    padding: 1em 0 0 20em;
}
span {
    color: black;
    padding-left: 1em;
    font-size: 0.8em;
}

main {
    font-size: 25px;
    line-height: 30px;
    padding: 0em;
}


nav {
    padding: 12em 4.5em 0 0; 
    text-align: right;
}


.lado-esquerdo {
    float: left;
    background-color: lightseagreen;
    width: 30em;
    height: 17.5em;
    border-radius: 1em;
    font-size: 0.7em;
    color: white;
    margin-left: 4em;
    margin-top: -1.6em;
    padding: 0.5em 1em 1em 1em;
    text-align: left;
    line-height: 1.6em;
    box-shadow: 2px 5px 5px rgb(16, 94, 90);
    text-shadow: 1px 1px 1px rgb(8, 49, 47);
    font-weight: bold;
}
h2 {
    text-align: left;
    text-shadow: 2px 5px 5px rgb(8, 49, 47);
}
.parentesis {
    font-size: 1em;
    color: white;
    font-weight: lighter;
}
.links-box {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}


.lado-direito {
    float: right;
    background-color: lightseagreen;
    width: 30em;
    height: 17.5em;
    border-radius: 1em;
    font-size: 0.7em;
    color: white;
    margin-right: 4em;
    margin-top: -1.6em;
    padding: 0.5em 1em 1em 1em;
    text-align: left;
    line-height: 1.6em;
    font-weight: bold;
    box-shadow: 2px 5px 5px rgb(16, 94, 90);
    text-shadow: 1px 1px 1px rgb(8, 49, 47);
}
#interesses {
    list-style: none;
}


p {
    font-size: 1em;
    text-align: center;
    padding: 13em 0 0 0;
    color: lightseagreen;
    text-shadow: 1px 1px 1px rgb(8, 49, 47);
}

.centro {
    background-color: lightseagreen;
    width: 67em;
    height: 24.5em;
    border-radius: 1em;
    font-size: 0.7em;
    color: white;
    margin-left: 4em;
    margin-top: 1em;
    padding: 0.5em 1em 1em 1em;
    text-align: left;
    line-height: 1.6em;
    box-shadow: 2px 5px 5px rgb(16, 94, 90);
    text-shadow: 1px 1px 1px rgb(8, 49, 47);
    font-weight: bold;
}
#habilidades {
    text-align: left;
    font-size: 1.4em;
    text-decoration: none;
    color: 2px 5px 5px rgb(8, 49, 47);
    padding: 1em 0 0 3.2em;
    position: relative;
}
table {
    margin-top: -2em;
    padding: 0 0 0 16em;
    z-index: 1;
}
table th{
    text-align: center;
    padding: 0 20px 0 20px;
}
table td{
    text-align: center;
    padding: 3.5px;
}
#asterisco {
    color: white;
    font-weight: lighter;
    font-size: 0.9em;
}

#em-construcao{
    text-align: center;
    font-size: 2em;
}

footer {
    text-align: center;
}
